[project]
name = "code-execution"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
	"mcp>=1.0.0",
	"toon-format>=0.9.0b1",
]
